* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: hsl(0, 0%, 98%);
}

img {
  width: 100%;
  height: auto;
}

i {
  font-size: inherit;
  vertical-align: bottom;
  line-height: inherit;
}

.heart {
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.74);
}
